// Size Utils

@function bwd($multiplier) {
    $default-bloc-width: 10svw;

    @return $default-bloc-width * $multiplier;
}

@function bht($multiplier) {
    $default-bloc-height: 10svh;

    @return $default-bloc-height * $multiplier;
}

@function ewd($multiplier) {
    $default-bloc-width: 1rem;

    @return $default-bloc-width * $multiplier;
}

@function eht($multiplier) {
    $default-bloc-height: 1rem;

    @return $default-bloc-height * $multiplier;
}
