// Size Utils

@function bweight($multiplier) {
    $default-bloc-width: 10svw;

    @return $default-bloc-width * $multiplier;
}

@function bheight($multiplier) {
    $default-bloc-height: 10svh;

    @return $default-bloc-height * $multiplier;
}

@function eweight($multiplier) {
    $default-bloc-width: 1rem;

    @return $default-bloc-width * $multiplier;
}

@function ehight($multiplier) {
    $default-bloc-height: 1rem;

    @return $default-bloc-height * $multiplier;
}
