// Size utilities

@function bw($multiplier) {
    $default-bloc-width: 10svw;

    @return $default-bloc-width * $multiplier;
}

@function bh($multiplier) {
    $default-bloc-height: 10svh;

    @return $default-bloc-height * $multiplier;
}

@function ew($multiplier) {
    $default-bloc-width: 1rem;

    @return $default-bloc-width * $multiplier;
}

@function eh($multiplier) {
    $default-bloc-height: 1rem;

    @return $default-bloc-height * $multiplier;
}
