@use "../../design/constants/backgrounds" as *;
@use "../../design/constants/breakpoints" as *;
@use "../../design/utilities/font-utilities" as *;
@use "../../design/utilities/spacing-utilities" as *;
@use "../../design/utilities/size-utilities" as *;
@use "../../design/utilities/position-utilities" as *;

.base-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    min-height: block-height-value(1);
    padding: pd(5) pd(7);

    &__logo-container {
        width: bwd(8);
    }

    &__logo {
        width: ewd(8);
    }

    &__navbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        width: bwd(2);

        font-size: fs(5);
        line-height: lh(7);
    }

    &__menu {
        display: none;
    }

    &__menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__hamburger {
        z-index: zi(1);
    }

    &__mobile-menu {
        position: absolute;
        inset: inst(0);

        display: flex;
        flex-flow: column nowrap;
        gap: gp(3);
        align-items: flex-start;
        justify-content: flex-start;

        width: bwd(10);
        padding: pd(5) pd(3);

        visibility: hidden;
        background: $bg-gradient;
        background-color: $bg-color;
        background-size: cover;
    }

    &__mobile-menu--unhidden {
        visibility: visible;
    }

    &__mobile-menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    @media only screen and (width >= $sm) {
        &__logo-container {
            width: bwd(8);
        }

        &__logo {
            width: ewd(8);
        }

        &__navbar {
            width: bwd(8);
        }

        &__menu {
            display: flex;
            flex-flow: row nowrap;
            gap: gp(7);
            align-items: center;
            justify-content: space-evenly;
        }

        &__hamburger {
            display: none;
        }
    }
}
