@use "../../design/utils/font-utils" as *;
@use "../../design/utils/size-utils" as *;

.noscript {
    display: inline-block;

    width: bweight(10);

    font-size: font-size(5);
    line-height: line-height(7);
    text-align: center;

    background-color: red;

    &__main-info {
        font-weight: bold;
    }
}
