@use "utilities/size-utilities" as *;
@use "utilities/spacing-utilities" as *;

.base-footer {
    display: flex;
    flex-flow: column nowrap;
    gap: gap(3);
    align-items: center;
    justify-content: flex-end;

    width: bw(10);
    min-height: bh(2);
    padding: p(5) p(7);

    font-family: serif, sans-serif;

    &__legal-notice {
        width: bw(10);
        font-style: italic;
        text-align: center;
        text-wrap: wrap;
    }

    &__social-link-group {
        display: flex;
        flex-flow: row nowrap;
        gap: gap(3);
        align-items: center;
        justify-content: center;

        width: bw(10);
    }

    &__noscript {
        width: bw(10);
    }
}
