@use "constants/breakpoints" as *;
@use "constants/font-weights" as *;
@use "utilities/font-utilities" as *;
@use "utilities/size-utilities" as *;
@use "utilities/spacing-utilities" as *;

.home-hero {
    display: flex;
    flex-flow: column nowrap;
    gap: gap(5);
    align-items: center;
    justify-content: center;

    width: bw(10);

    text-align: center;

    &__title {
        font-size: fs(12);
        font-weight: bold;
        line-height: lh(12);
    }

    &__subtitle {
        font-size: fs(7.5);
        line-height: lh(9);
    }

    @media only screen and (width >= $sm) {
        &__title {
            font-size: fs(17);
            line-height: lh(12);
        }

        &__subtitle {
            font-size: fs(12);
            line-height: lh(12);
        }
    }
}
