@use "utilities/font-utilities" as *;
@use "utilities/size-utilities" as *;

.noscript {
    display: inline-block;

    width: bw(10);

    font-size: fs(5);
    line-height: lh(7);
    text-align: center;

    background-color: red;

    &__main-info {
        font-weight: bold;
    }
}
