.layout {
    font-family: "Playfair Display Variable", sans-serif, serif;
    background: url("/images/prebuiltui-gradient-background.svg");
    background-color: #fff;
    background-size: cover;
}

.noscript {
    display: inline-block;

    width: 100%;

    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;

    background-color: red;

    &__main-info {
        font-weight: 700;
    }
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    min-height: 10svh;
    padding: 1.25rem 1.75rem;

    vertical-align: middle;

    &__logo {
        width: 196px;

        @media (width >= 640px) {
            width: 128px;
        }
    }

    &__navbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        width: 100%;

        font-size: 1.25rem;
        line-height: 1.75rem;
        vertical-align: middle;
    }

    &__menu {
        display: none;

        @media (width >= 640px) {
            display: flex;
            flex-flow: row nowrap;
            gap: 1.75rem;
            align-items: center;
            justify-content: space-evenly;

            vertical-align: middle;
        }
    }

    &__menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__hamburger {
        z-index: 10;

        @media (width >= 640px) {
            display: none;
        }
    }

    &__mobile-menu {
        position: absolute;
        inset: 0;

        display: none;
        flex-flow: column nowrap;
        gap: 0.75rem;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        padding: 1.25rem 0.75rem;

        vertical-align: middle;

        background: url("/images/prebuiltui-gradient-background.svg");
        background-color: #fff;
        background-size: cover;
    }

    &__mobile-menu--unhidden {
        display: flex;
    }

    &__mobile-menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    min-height: 70svh;

    vertical-align: middle;
}

.hero-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;

    width: 100%;

    &__button {
        padding: 0.75rem 1.25rem;
    }
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    min-height: 20svh;

    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    vertical-align: middle;

    &__legal-notice {
        width: 100%;
        font-style: italic;
        text-align: center;
    }

    &__social-link-group {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.75rem;
        align-items: center;
        justify-content: center;

        width: 100%;
    }
}

.hero-section {
    text-align: center;

    &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;

        @media (width >= 640px) {
            font-size: 4.5rem;
            line-height: 1;
        }
    }

    &__subtitle {
        font-size: 1.875rem;
        line-height: 2.25rem;

        @media (width >= 640px) {
            font-size: 3rem;
            line-height: 1;
        }
    }

    &__button {
        cursor: pointer;

        border-radius: 9999px;

        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        color: #fff;

        background-color: gold;

        &:active {
            transform: scale(0.98);
        }
    }
}
