.noscript {
    display: inline-block;
    width: 100%;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    min-height: 10svh;
    padding: 1.25rem 1.75rem;

    vertical-align: middle;
}

.header__navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    vertical-align: middle;
}

.header__menu {
    display: none;

    @media (width >= 640px) {
        display: flex;
        flex-flow: row nowrap;
        gap: 1.75rem;
        align-items: center;
        justify-content: space-evenly;

        vertical-align: middle;
    }
}

.header__hamburger {
    z-index: 10;

    @media (width >= 640px) {
        display: none;
    }
}

.header__mobile-menu {
    position: absolute;
    inset: 0;

    display: none;
    flex-flow: column nowrap;
    gap: 0.75rem;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    padding: 1.25rem 0.75rem;

    vertical-align: middle;
}

.header__mobile-menu--unhidden {
    display: flex;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    min-height: 70svh;

    vertical-align: middle;
}

.hero-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.hero-section__button {
    padding: 0.75rem 1.25rem;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    min-height: 20svh;

    vertical-align: middle;
}

.footer__legal-notice {
    width: 100%;
    font-style: italic;
    text-align: center;
}

.footer__social-link-group {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.layout {
    font-family: "Playfair Display Variable", sans-serif, serif;
}

.noscript {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}

.noscript__main-info {
    font-weight: 700;
}

.header__navbar {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.header__menu-item {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.header__mobile-menu-item {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.hero-section {
    text-align: center;
}

.hero-section__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;

    @media (width >= 640px) {
        font-size: 4.5rem;
        line-height: 1;
    }
}

.hero-section__subtitle {
    font-size: 1.875rem;
    line-height: 2.25rem;

    @media (width >= 640px) {
        font-size: 3rem;
        line-height: 1;
    }
}

.hero-section__button {
    cursor: pointer;

    border-radius: 9999px;

    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.footer {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.noscript {
    background-color: red;
}

.layout {
    background: url("/images/prebuiltui-gradient-background.svg");
    background-color: #fff;
    background-size: cover;
}

.header__mobile-menu {
    background: url("/images/prebuiltui-gradient-background.svg");
    background-color: #fff;
    background-size: cover;
}

.hero-section__button {
    color: #fff;
    background-color: gold;
}

.hero-section__button {
    &:active {
        transform: scale(0.98);
    }
}
