@mixin default-min-size() {
    min-width: 100svw;
    min-height: 100svh;
}

@mixin default-font-family() {
    font-family:
        serif,
        sans-serif,
        BlinkMacSystemFont,
        -apple-system;
}

@mixin font-family($custom) {
    font-family:
        $custom,
        serif,
        sans-serif,
        BlinkMacSystemFont,
        -apple-system;
}
