// Fonts
$font-playfair-display: "Playfair Display Variable";

// Font weights
$font-weight-semi-bold: 600;

// Background Images
$bg-color-main: white;
$bg-gradient-main: linear-gradient(135deg, white, gold);
