@use "../../design/constants/backgrounds" as *;
@use "../../design/constants/fonts" as *;
@use "../../design/utilities/size-utilities" as *;

.base-layout {
    position: relative;

    min-height: bht(10);

    font-family: $playfair-display, sans-serif, serif;

    background: $bg-gradient;
    background-color: $bg-color;
    background-size: cover;
}
