@use "constants/background" as *;
@use "constants/breakpoints" as *;
@use "utilities/font-utilities" as *;
@use "utilities/spacing-utilities" as *;
@use "utilities/size-utilities" as *;
@use "utilities/position-utilities" as *;

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    min-height: block-height-value(1);
    padding: padding-value(5) padding-value(7);

    vertical-align: middle;

    &__logo-container {
        width: bloc-width-value(8);
    }

    &__logo {
        width: element-width-value(8);
    }

    &__navbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        width: block-with-value(2);

        font-size: font-size-value(5);
        line-height: line-height-value(7);
        vertical-align: middle;
    }

    &__menu {
        display: none;
    }

    &__menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__hamburger {
        z-index: z-index-value(1);
    }

    &__mobile-menu {
        position: absolute;
        inset: inset-value(0);

        display: flex;
        flex-flow: column nowrap;
        gap: gap-value(3);
        align-items: flex-start;
        justify-content: flex-start;

        width: bloc-width-value(10);
        padding: padding-value(5) padding-value(3);

        vertical-align: middle;

        visibility: hidden;
        background: $bg-gradient;
        background-color: $bg-color;
        background-size: cover;
    }

    &__mobile-menu--unhidden {
        visibility: visible;
    }

    &__mobile-menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (width >= $sm) {
    .header {
        &__logo-container {
            width: bloc-width-value(8);
        }

        &__logo {
            width: element-width-value(8);
        }

        &__navbar {
            width: bloc-width-value(8);
        }

        &__menu {
            display: flex;
            flex-flow: row nowrap;
            gap: gap-value(7);
            align-items: center;
            justify-content: space-evenly;

            vertical-align: middle;
        }

        &__hamburger {
            display: none;
        }
    }
}
