@use "utilities/size-utilities" as *;
@use "utilities/spacing-utilities" as *;

.footer {
    display: flex;
    flex-flow: column nowrap;
    gap: gap-value(3);
    align-items: center;
    justify-content: flex-end;

    width: bloc-width-value(10);
    min-height: bloc-height-value(2);
    padding: padding-value(5) padding-value(7);

    font-family: serif, sans-serif;
    vertical-align: middle;

    &__legal-notice {
        width: bloc-width-value(10);
        font-style: italic;
        text-align: center;
    }

    &__social-link-group {
        display: flex;
        flex-flow: row nowrap;
        gap: gap-value(3);
        align-items: center;
        justify-content: center;

        width: bloc-width-value(10);
    }
}
