@use "constants/theme" as theme;
@use "utilities/font-utilities" as *;
@use "utilities/spacing-utilities" as *;

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    min-height: 10svh;
    padding: padding-value(5) padding-value(7);

    vertical-align: middle;

    &__logo-container {
        width: 80svw;

        @media (width >= 640px) {
            width: 20svw;
        }
    }

    &__logo {
        width: 8rem;

        @media (width >= 640px) {
            width: 8rem;
        }
    }

    &__navbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        width: 20svw;

        font-size: font-size-value(5);
        line-height: line-height-value(7);
        vertical-align: middle;

        @media (width >= 640px) {
            width: 80svw;
        }
    }

    &__menu {
        display: none;

        @media (width >= 640px) {
            display: flex;
            flex-flow: row nowrap;
            gap: gap-value(7);
            align-items: center;
            justify-content: space-evenly;

            vertical-align: middle;
        }
    }

    &__menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__hamburger {
        z-index: 10;

        @media (width >= 640px) {
            display: none;
        }
    }

    &__mobile-menu {
        position: absolute;
        inset: 0;

        display: flex;
        flex-flow: column nowrap;
        gap: gap-value(3);
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        padding: padding-value(5) padding-value(3);

        vertical-align: middle;

        visibility: hidden;
        background: theme.$bg-gradient-main;
        background-color: white;
        background-size: cover;
    }

    &__mobile-menu--unhidden {
        visibility: visible;
    }

    &__mobile-menu-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
