@use "utilities/font-utilities" as *;
@use "utilities/spacing-utilities" as *;

.hero-section {
    display: flex;
    flex-flow: column nowrap;
    gap: gap-value(5);
    align-items: center;
    justify-content: center;

    width: 100%;

    text-align: center;

    &__title {
        font-size: font-size-value(12);
        font-weight: bold;
        line-height: 1;

        @media (width >= 640px) {
            font-size: font-size-value(17);
            line-height: 1;
        }
    }

    &__subtitle {
        font-size: font-size-value(7.5);
        line-height: line-height-value(9);

        @media (width >= 640px) {
            font-size: 3rem;
            line-height: 1;
        }
    }

    &__button {
        cursor: pointer;

        padding: padding-value(5) padding-value(7);
        border-radius: 9999px;

        font-size: font-value(5);
        font-weight: 600;
        line-height: line-height-value(7);
        color: black;

        background-color: gold;

        &:active {
            transform: scale(0.98);
        }
    }
}
