.layout {
    position: relative;

    font-family: "Playfair Display Variable", sans-serif, serif;

    background: url("/images/prebuiltui-gradient-background.svg");
    background-color: #fff;
    background-size: cover;
}
