@use "constants/themes" as themes;

.layout {
    position: relative;

    font-family: themes.$font-playfair-display, sans-serif, serif;

    background: themes.$bg-main-url;
    background-color: white;
    background-size: cover;
}
