@use "utilities/size-utilities" as *;

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    min-height: bloc-height-value(7);

    vertical-align: middle;
}
