@use "utilities/font-utilities" as *;
@use "utilities/size-utilities" as *;

.noscript {
    display: inline-block;

    width: bloc-width-value(10);

    font-size: font-size-value(5);
    line-height: line-height-value(7);
    text-align: center;

    background-color: red;

    &__main-info {
        font-weight: bold;
    }
}
